<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
   <h3>You have been alive for <%=@user_days%> days! </h3>
   <h3>Klossified: <%=@user_kloss%> </h3>
   <h3>Pig Latin: <%=@user_pig%> </h3>
   <h3>Both: <%=@both%> </h3>
   <h3>Gif Search: <%=@gif%> </h3> <img src= "<%=@gif%>">
   
  </body>
</html>